<div class="container">
  <div class="row">
    <div class="col-lg">
      <h6 style="color: rgb(59, 59, 59);">Who Am I?</h6>
      <h2>ABOUT ME</h2>
      <hr
        style="
          margin-left: 36%;
          justify-content: center;
          border: 2pt rgb(4, 152, 201) solid;
          width: 30%;
        "
      />
    </div>
  </div>
  <div class="container " id="about-me-container">
    <div class="row">
      <div class="col-lg">
        <br />
        <p>
          I am a versatile developer with a strong foundation in front-end
          development, Angular, Android, and Java. I hold a Master’s degree in
          Computer Applications (MCA) and a Bachelor's degree in Computer
          Applications (BCA). My professional experience includes a six-month
          internship at Ankhub Technology Services as an Angular Developer,
          where I developed robust front-end solutions.
        </p>
        <a href="/assets/SelfIntro/Resume.pdf" target="_blank" >
        <button type="button" class="btn btn-outline-primary "  >Download Resume/CV </button></a>
        
      </div>
    </div>
  </div>
</div>
