<nav class="navbar navbar-expand-sm " >
    <div class="container-fluid">
      <a class="navbar-brand" href="">Manan Jain</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" (click)="toggleButton()" [class.active]="isTogglerActive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar" >
        <ul class="navbar-nav me-auto" style="font-weight: 600;">
          <li class="nav-item">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Resume/CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Contact</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="">Skills</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>