<br><br><br>
<div class="container boxed">
    <br>
  <div class="row ">
    
    <div class="col-lg-8  textTyping" *ngIf="isBrowser" >
        
        <ngx-typed-js [strings]="['FRONTEND DEVELOPER','ANGULAR DEVELOPER','ANDROID DEVELOPER','JAVA DEVELOPER']"
        [typeSpeed]="85"
        [loop]="true"
        [backSpeed]="30"
        
        >
      <h3>
        Hi!<br />
        I am Manan Jain, <br>Specializing in  <span class="typing"></span><br />
      </h3> 
      </ngx-typed-js>
      
         
    </div>
    <div class="col-lg-4 d-flex justify-content-center " >
        <img src="assets/SelfIntro/DSC0052.jpg" alt="Manan Image" >
    </div>
  </div>
  <br>
</div>
<br><br>
