<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p style="color: rgb(190, 190, 190)">What are my skills?</p>
      <h2>SKILLS</h2>
      <hr
        style="
          margin-left: 36%;
          justify-content: center;
          border: 2pt rgb(0, 238, 255) solid;
          width: 30%;
        "
      />
    </div>
  </div>
  <br>
  <div class="container">

    <div class="row">
      <div class="col-lg">
        <h5>Languages</h5>
        <hr
        style="
          margin-left: 40%;
          justify-content: center;
          border: 2pt rgb(255, 255, 255) solid;
          width: 20%;
        "
      />
      </div>
    </div>
    <div class="row">
      <div class="col-lg" style="text-align: center">
        <img
          class="js content"
          src="/assets/SelfIntro/JS.png"
          height="50"
          alt="javaScript"
        />
        <img
          class="ts content"
          src="/assets/SelfIntro/TS.png"
          height="50"
          alt="TypeScript"
        />
        <img
        class="java content"
        src="/assets/SelfIntro/Java.svg"
        height="50"
        alt="Java"
        style="background-color: white;"
      />
       <img
          class="python content"
          src="/assets/SelfIntro/python.png"
          height="50"
          alt="Python"
        />
        <img
          class="sql content"
          src="/assets/SelfIntro/SQL.png"
          height="50"
          alt="SQL"
        />
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-lg">
        <h5>Front End</h5>
        <hr
        style="
          margin-left: 40%;
          justify-content: center;
          border: 2pt rgb(255, 255, 255) solid;
          width: 20%;
        "
      />
      </div>
    </div>
    <div class="row">
      <div class="col-lg" style="text-align: center">
        <img
          class="ng content"
          src="/assets/SelfIntro/angular.png"
          height="50"
          alt="Angular"
        />
        <img
          class="bt content"
          src="/assets/SelfIntro/Bootstrap.svg"
          height="50"
          alt="Bootstrap"
        />
        <img
        class="html content"
        src="/assets/SelfIntro/Html.webp"
        height="50"
        alt="HTML5"
        style="background-color: white;"
      />
      <img
      class="css content"
      src="/assets/SelfIntro/CSS.webp"
      height="50"
      alt="CSS"
      style="background-color: white;"
    />
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-lg">
        <h5>Back End</h5>
        <hr
        style="
          margin-left: 40%;
          justify-content: center;
          border: 2pt rgb(255, 255, 255) solid;
          width: 20%;
        "
      />
      </div>
    </div>
    <div class="row">
      <div class="col-lg" style="text-align: center">
        <img
          class="spBoot content"
          src="/assets/SelfIntro/SpringBoot.png"
          height="50"
          alt="Spring Boot"
        />
        <img
          class="rp content"
          src="/assets/SelfIntro/RestApi.jpg"
          height="50"
          alt="Rest API"
        />
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-lg">
        <h5>Cloud &amp; Databases</h5>
        <hr
        style="
          margin-left: 40%;
          justify-content: center;
          border: 2pt rgb(255, 255, 255) solid;
          width: 20%;
        "
      />
      </div>
    </div>
    <div class="row">
      <div class="col-lg" style="text-align: center">
        <img
          class="aws content"
          src="/assets/SelfIntro/AWS.webp"
          height="50"
          alt="AWS Cloud"
        />
        <img
          class="psql content"
          src="/assets/SelfIntro/PostgreSQL.png"
          height="50"
          alt="PostgreSQL"
        />
        <img
          class="firebase content"
          src="/assets/SelfIntro/Firebase.png"
          height="50"
          alt="Firebase"
        />
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-lg">
        <h5>Developer Tools</h5>
        <hr
        style="
          margin-left: 40%;
          justify-content: center;
          border: 2pt rgb(255, 255, 255) solid;
          width: 20%;
        "
      />
      </div>
    </div>
    <div class="row">
      <div class="col-lg" style="text-align: center">
        <img
          class="postman content"
          src="/assets/SelfIntro/Postman.webp"
          height="50"
          alt="Postman"
        />
        <img
          class="Trello content"
          src="/assets/SelfIntro/Trello.png"
          height="50"
          alt="Trello"
        />
        <img
          class="VSCode content"
          src="/assets/SelfIntro/VSCode.jpg"
          height="50"
          alt="VS Code"
        />
        <img
          class="AS content"
          src="/assets/SelfIntro/AndoidStudio.webp"
          height="50"
          alt="Android Studio"
        />
        <img
        class="intelije content"
        src="/assets/SelfIntro/IntelijeIde.png"
        height="50"
        alt="Intelije IDE"
      />
      <img
        class="github content"
        src="/assets/SelfIntro/github.png"
        height="50"
        alt="Github"
      />
      <img
        class="bitbucket content"
        src="/assets/SelfIntro/bitbucket.jpg"
        height="50"
        alt="Bitbucket"
      />
      </div>
    </div>
  </div>
</div>
