<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p>What I did?</p>
      <h2>PORTFOLIO</h2>
      <hr
        style="
          margin-left: 36%;
          justify-content: center;
          border: 2pt rgb(4, 152, 201) solid;
          width: 30%;
        "
      />
    </div>
  </div>
  <div class="container">
    <div class="row" id="about-me-container">
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card">
            <img
              src="assets/SelfIntro/frontendDeveloper.gif"
              height="130px"
              alt="Avatar"
            />

            <h5>
              Front End Developer<br /><br /><span
                style="
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                "
              >
                PROJECTS</span
              >
            </h5>
            <div class="content">
              <h6>Front End Developer</h6>
              <p style="text-align: justify">
                As a passionate and skilled Front End Developer, I have
                successfully worked on various dynamic and interactive projects.
                My portfolio includes the development of the PGAV Rental System,
                a comprehensive solution for property management; Cafe Mocha
                Mania,... <button
                  class="btn btn-outline-primary"
                  style="font-size: small"
                >
                  See More...
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card">
            <img
              src="/assets/SelfIntro/AngularDeveloper.gif"
              alt="Avatar"
            /><br />
            <h5 style="padding-top: 2%">
              Angular Developer <br /><br /><span
                style="
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                "
              >
                PROJECTS</span
              >
            </h5>
            <div class="content">
              <h6>Angular Developer<br /></h6>
              <p style="text-align: justify">
                As a dedicated Angular Developer, I have extensive experience in
                building robust and scalable web applications. My projects
                include the PGAV Rental System, a sophisticated property
                management tool, and Cafe Mocha Mania, a vibrant ...
                <button
                  class="btn btn-outline-primary"
                  style="font-size: small"
                >
                  See More...
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card">
            <img src="assets/SelfIntro/AppDevelopment.gif" alt="Avatar" />
            <h5>
              Android App Developer <br /><br /><span
                style="
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                "
              >
                PROJECTS</span
              >
            </h5>
            <div class="content">
              <h6>Android App Developer<br /></h6>
              <p style="text-align: justify">
                As a passionate and eager-to-learn Android Developer, I have
                worked on exciting projects such as the Health Plus application,
                a comprehensive tool for managing personal health and wellness,
                and an Expense Tracker app designed...
                <button
                  class="btn btn-outline-primary"
                  style="font-size: small"
                >
                  See More...
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card">
            <img
              src="assets/SelfIntro/JavaDeveloper.gif"
              height="400px"
              alt="Avatar"
            />
            <h5>
              Java Developer <br /><br /><span
                style="
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                "
              >
                PROJECTS</span
              >
            </h5>
            <div class="content">
              <h6>Java Developer<br /></h6>
              <p style="text-align: justify;">
                As a passionate and eager-to-learn Java Developer, I have worked
                on a variety of projects that showcase my skills and dedication.
                My portfolio includes the development of the Health Plus
                application, a comprehensive tool for managing personal health
                and wellness, and ...<button
                  class="btn btn-outline-primary"
                  style="font-size: small"
                >
                  See More...
                </button>
              </p>
            </div>
          </div>
        </div>
        <br>
      </div>
      
    </div>
  </div>
</div>
