h2 {
  text-align: center;
  font-family: "Baloo Paaji", cursive;
  font-weight: bold;
  font-size: 2.5vw; 
  
  color: rgb(212, 212, 212);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.cardBox {
  width: 300px;
  height: 300px;
  position: relative;
  place-items: center;
  overflow: hidden;
  margin-top: 3%;
  border-radius: 10px;
  box-shadow: 4px 8px 8px  rgba(190, 235, 243, 0.692);
}

.collapse>h6{
  color: whitesmoke;
  text-align: center;
}
.collapse>hr{
  text-align: center;
  border-bottom: 1pt dashed whitesmoke;
}
#about-me-container {
  opacity: 0; /* initial opacity */
  transition: opacity 5s; /* transition duration */
}

#about-me-container.fade-in {
  opacity: 1; /* final opacity */
}
.card {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(226, 223, 223, 0.829);
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 20px;

  cursor: pointer;
}
.cardBox:hover{
  border-radius: 15px;
  box-shadow: 8px 10px 12px rgba(159, 201, 197, 0.822);
}
@media (max-width:346px) {
  *{
    overflow: hidden;
  }
  .card{
    margin-left: -5%;
    height: 300px;
  }
  .card img{
    width: 100px;
    height:550px;
  }
  
 
}
.card img {
  
  vertical-align: middle;
  margin-top: 6%;
}
p{
  text-align: center;
  font-family: "Baloo Paaji", cursive;
}
.card h5{

        margin-top: 5%;
        font-family: 'Baloo Paaji', cursive;
        font-weight: 580;
        padding: 2%;
        font-size: 1.5vw;
}
@media (max-width:560px) {
  .card h5{

    margin-top: 0;
    font-family: 'Baloo Paaji', cursive;
    font-weight: 580;
    padding: 2%;
    font-size:3vw;
}


}
.card .content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.card:hover{
  
  box-shadow: 0px 10px 12px rgba(20, 20, 20, 0.692);
}

.card:hover .content {
  transform: translateY(0);
  opacity: 1;
}

.card:hover h5,
.card:hover img {
  display: none;
}
h6{
  font-weight: 700;
}
.collapse{
  border-radius: 15px;
  box-shadow: 3px 4px 4px rgb(153, 235, 255);
  border-left: 1px dashed rgb(153, 235, 255);
}
.collapse>h5{
   color: rgb(65, 208, 255);
  padding: 1%;
  text-shadow: 1px 1.3px 1.3px rgb(65, 208, 255);
}
.collapse> p{
  color: whitesmoke;
  padding: 1%;
  text-align: justify;
}





.js{
  box-shadow: 3px 4px 4px rgb(250, 236, 115);
  border-radius: 15px;
  margin-left: 3%;
}
.js:hover{
  box-shadow: 5px 6px 6px rgb(250, 236, 115);
}
.ts{
  box-shadow: 3px 4px 4px rgb(115, 178, 250);
  margin-left: 3%;
}
.ts:hover{
  box-shadow: 5px 6px 6px rgb(115, 178, 250);
}
.java{
  box-shadow: 3px 4px 4px rgb(217, 217, 218);
  margin-left: 3%;
}
.java:hover{
  box-shadow: 5px 6px 6px  rgb(217, 217, 218);
}
.ng{
  box-shadow: 3px 4px 4px rgba(255, 62, 62, 0.925);
  margin-left: 3%;
}
.ng:hover{
  box-shadow: 5px 6px 6px  rgb(255, 29, 29);
}
.bt{
  box-shadow: 3px 4px 4px rgb(195, 0, 255);
  margin-left: 3%;
}
.bt:hover{
  box-shadow: 5px 6px 6px  rgb(195, 0, 255);
}
.html{
  box-shadow: 3px 4px 4px rgb(255, 102, 0);
  margin-left: 3%;
}
.html:hover{
  box-shadow: 5px 6px 6px rgb(255, 102, 0);
}
.css{
  box-shadow: 3px 4px 4px rgb(0, 174, 255);
  margin-left: 3%;
}
.css:hover{
  box-shadow: 5px 6px 6px rgb(0, 174, 255);
}
.spBoot{
  box-shadow: 3px 4px 4px rgb(39, 196, 0);
  margin-left: 3%;
}
.spBoot:hover{
  box-shadow: 5px 6px 6px rgb(39, 196, 0);
}
.rp{
  box-shadow: 3px 4px 4px rgb(0, 67, 211);
  margin-left: 3%;
}
.rp:hover{
  box-shadow: 5px 6px 6px rgb(0, 67, 211);
}
.aws{
  box-shadow: 3px 4px 4px rgb(255, 145, 0);
  background-color: whitesmoke;
}
.aws:hover{
  box-shadow: 5px 6px 6px rgb(255, 145, 0);
}
.psql{
  box-shadow: 3px 4px 4px rgb(17, 0, 255);
  background-color: whitesmoke;
  margin-left: 3%;
}
.psql:hover{
  box-shadow: 5px 6px 6px rgb(17, 0, 255);
}
.firebase{
  box-shadow: 3px 4px 4px rgb(255, 187, 0);
  background-color: whitesmoke;
  margin-left: 3%;
}
.firebase:hover{
  box-shadow: 5px 6px 6px rgb(255, 187, 0);
}
.postman{
  box-shadow: 3px 4px 4px rgb(255, 94, 0);
  background-color: whitesmoke;
  margin-left: 3%;

}
.postman:hover{
  box-shadow: 5px 6px 6px rgb(255, 94, 0);
}
.Trello{
  box-shadow: 3px 4px 4px rgb(17, 0, 255);
  background-color: whitesmoke;
  margin-left: 3%;
}
.Trello:hover{
  box-shadow: 5px 6px 6px rgb(17, 0, 255);
}
.VSCode{
  box-shadow: 3px 4px 4px rgb(0, 140, 255);
  margin-left: 3%;
}
.VSCode:hover{
  box-shadow: 5px 6px 6px rgb(0, 140, 255);
}
.AS{
  box-shadow: 3px 4px 4px rgb(17, 0, 255);
  background-color: whitesmoke;
  margin-left: 3%;
}
.AS:hover{
  box-shadow: 5px 6px 6px rgb(17, 0, 255);
}
.intelije{
  box-shadow: 3px 4px 4px rgb(0, 108, 248);
  background-color: whitesmoke;
  margin-left: 3%;

}
.intelije:hover{
  box-shadow: 5px 6px 6px rgb(0, 108, 248);
}
.github{
  box-shadow: 3px 4px 4px rgb(184, 184, 184);
  background-color: whitesmoke;
  margin-left: 3%;
}
.github:hover{
  box-shadow: 5px 6px 6px rgb(184, 184, 184);
}
.bitbucket{
  box-shadow: 3px 4px 4px rgb(0, 119, 255);
  background-color: whitesmoke;
  margin-left: 3%;
}
.bitbucket:hover{
  box-shadow: 5px 6px 6px rgb(0, 119, 255);
}
.python{
  box-shadow: 3px 4px 4px rgb(170, 170, 170);
  margin-left: 3%;
}
.python:hover{
  box-shadow: 5px 6px 6px rgb(170, 170, 170);
}
.sql{
  box-shadow: 3px 4px 4px rgb(170, 170, 170);
  margin-left: 3%;
  background-color: whitesmoke;
}
.sql:hover{
  box-shadow: 5px 6px 6px rgb(170, 170, 170);
}
.collapse>div>img{
  border-radius: 15px;
  margin-top: 1%;
}
