<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p style="color: rgb(190, 190, 190);">What I did?</p>
      <h2>PORTFOLIO</h2>
      <hr
        style="
          margin-left: 36%;
          justify-content: center;
          border: 2pt rgb(0, 238, 255) solid;
          width: 30%;
        " />
    </div>
  </div>
  <div class="container">
    <div class="row" id="about-me-container">
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card">
            <img
              src="assets/SelfIntro/frontendDeveloper.gif"
              height="130px"
              alt="Avatar" />

            <h5>
              Front End Developer<br /><br /><span
                style="
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                ">
                PROJECTS</span>
            </h5>
            <div class="content">
              <h6>Front End Developer</h6>
              <p style="text-align: justify">
                I am a dynamic and detail-oriented Frontend Developer with
                extensive
                experience in creating interactive, user-friendly, and
                feature-rich
                websites. My expertise spans various projects, including the
                official
                website of Shri Ramdeobaba University, where... <button
                  class="btn btn-outline-primary"
                  style="font-size: small" data-bs-toggle="collapse"
                  href="#frontD">
                  See More...
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card">
            <img
              src="/assets/SelfIntro/AngularDeveloper.gif"
              alt="Avatar" />
            <h5 style="padding-top: 5%">
              Angular Developer <br /><br /><span
                style="
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                ">
                PROJECTS</span>
            </h5>
            <div class="content">
              <h6>Angular Developer<br /></h6>
              <p style="text-align: justify">
                As a dedicated Angular Developer, I have extensive experience in
                building robust and scalable web applications. My projects
                include the PGAV Rental System, a sophisticated property
                management tool, and Cafe Mocha Mania, a vibrant ...
                <button
                  class="btn btn-outline-primary"
                  style="font-size: small" data-bs-toggle="collapse"
                  href="#AngularD">
                  See More...
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card">
            <img src="assets/SelfIntro/AppDevelopment.gif" alt="Avatar" />
            <h5>
              Android App Developer <br /><br /><span
                style="
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                ">
                PROJECTS</span>
            </h5>
            <div class="content">
              <h6>Android App Developer<br /></h6>
              <p style="text-align: justify">
                As a passionate and eager-to-learn Android Developer, I have
                worked on exciting projects such as the Health Plus application,
                a comprehensive tool for managing personal health and wellness,
                and an Expense Tracker app designed...
                <button
                  class="btn btn-outline-primary"
                  style="font-size: small" data-bs-toggle="collapse"
                  href="#AndroidD">
                  See More...
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card">
            <img
              src="assets/SelfIntro/JavaDeveloper.gif"
              height="400px"
              alt="Avatar" />
            <h5>
              Java Developer <br /><br /><span
                style="
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                ">
                PROJECTS</span>
            </h5>
            <div class="content">
              <h6>Java Developer<br /></h6>
              <p style="text-align: justify;">
                As a passionate and eager-to-learn Java Developer, I have worked
                on a variety of projects that showcase my skills and dedication.
                My portfolio includes the development of the Health Plus
                application, a comprehensive tool for managing personal health
                and wellness, and ...<button
                  class="btn btn-outline-primary"
                  style="font-size: small" data-bs-toggle="collapse"
                  href="#JavaD">
                  See More...
                </button>
              </p>
            </div>
          </div>
        </div>
        <br>
      </div>

    </div>

    <!-- For frontend Devveloper -->
    <div id="frontD" class="collapse">
      <br>
      <h5>Front End Developer</h5>
      <p style="color: whitesmoke;">I am a dynamic and detail-oriented Frontend
        Developer with extensive
        experience in creating interactive, user-friendly, and feature-rich
        websites. My expertise spans various projects, including the official
        website of Shri Ramdeobaba University, where I utilized HTML, CSS,
        JavaScript, Bootstrap, and SQL to develop a responsive and visually
        appealing web interface. Additionally, I designed and implemented the
        PGAV
        Rental System's user-friendly interface using Angular, HTML, CSS,
        TypeScript, and Bootstrap, focusing on form validations, user
        authentication, API integration, and responsive design. My work on the
        Cafe Mocha Mania project involved developing an engaging website with
        JavaScript, HTML, CSS, and Bootstrap, ensuring consistent design,
        dynamic
        content loading, and performance optimization. I also built the Health
        Plus Application's user interface for booking doctor appointments and
        ordering lab tests with Java, Android Studio, Firebase, and Lottie
        Animations, incorporating login and registration functionalities.
        Furthermore, I created a user-friendly interface for the Expense and
        Expenditure Application using Android Studio, Kotlin, Firebase, and
        Lottie
        Animation, integrating Firebase for authentication and data management.
        With a solid foundation in both theoretical and practical aspects of web
        development, I am committed to continuously honing my skills and staying
        updated with the latest industry trends. My diverse project experience
        equips me to tackle complex challenges and deliver exceptional
        results.</p>
    </div>
    <!-- For Angular Devveloper -->
    <div id="AngularD" class="collapse">
      <br>
      <h5>Angular Developer</h5>
      <p style="color: whitesmoke;">I am a dynamic and detail-oriented Frontend
        Developer with extensive
        experience in creating interactive, user-friendly, and feature-rich
        websites. My expertise spans various projects, including the official
        website of Shri Ramdeobaba University, where I utilized HTML, CSS,
        JavaScript, Bootstrap, and SQL to develop a responsive and visually
        appealing web interface. Additionally, I designed and implemented the
        PGAV
        Rental System's user-friendly interface using Angular, HTML, CSS,
        TypeScript, and Bootstrap, focusing on form validations, user
        authentication, API integration, and responsive design. My work on the
        Cafe Mocha Mania project involved developing an engaging website with
        JavaScript, HTML, CSS, and Bootstrap, ensuring consistent design,
        dynamic
        content loading, and performance optimization. I also built the Health
        Plus Application's user interface for booking doctor appointments and
        ordering lab tests with Java, Android Studio, Firebase, and Lottie
        Animations, incorporating login and registration functionalities.
        Furthermore, I created a user-friendly interface for the Expense and
        Expenditure Application using Android Studio, Kotlin, Firebase, and
        Lottie
        Animation, integrating Firebase for authentication and data management.
        With a solid foundation in both theoretical and practical aspects of web
        development, I am committed to continuously honing my skills and staying
        updated with the latest industry trends. My diverse project experience
        equips me to tackle complex challenges and deliver exceptional
        results.</p>
        <div  style="text-align: center">
          <img
            class="ng content"
            src="/assets/SelfIntro/angular.png"
            height="50"
            alt="Angular" />
          <img
            class="bt content"
            src="/assets/SelfIntro/Bootstrap.svg"
            height="50"
            alt="Bootstrap" />
          <img
            class="html content"
            src="/assets/SelfIntro/Html.webp"
            height="50"
            alt="HTML5"
            style="background-color: white;" />
          <img
            class="css content"
            src="/assets/SelfIntro/CSS.webp"
            height="50"
            alt="CSS"
            style="background-color: white;" />
          <img
            class="js content"
            src="/assets/SelfIntro/JS.png"
            height="50"
            alt="javaScript" />
          <img
            class="ts content"
            src="/assets/SelfIntro/TS.png"
            height="50"
            alt="TypeScript" />
        </div>
      
      
        
    </div>
    <!-- For Android Devveloper -->
    <div id="AndroidD" class="collapse">

    </div>
    <!-- For Java Devveloper -->
    <div id="JavaD" class="collapse">

    </div>
  </div>
</div>
