<div class="container-fluid" data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50" >
 
    <!-- <app-navbar></app-navbar> -->
    <!-- <nav class="navbar navbar-expand-sm " >
      <div class="container-fluid">
        <a class="navbar-brand" href="">PORFOLIO</a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"   >
          <span class="navbar-toggler-icon "  ></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar" >
          <ul class="navbar-nav me-auto" style="font-weight: 600;">
            <li class="nav-item">
              <a class="nav-link" href="#Home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/assets/SelfIntro/Resume.pdf" target="_blank">Resume/CV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Contact">Contact</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#Skills">Skills</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->


    <div class="offcanvas-menu" >
      <input type="checkbox" id="toogle-menu" />
    
      <label  for="toogle-menu" class="toogle-open" style="background-color: none;"><span></span></label>
     
      <nav>
        <div style="background-color: #bdddff;">
          <a href="#" style="background-color: #bdddff;font-weight: 800; color: black;"> <i class="fab fa-css3-alt" ></i>PORTFOLIO </a>
          <label for="toogle-menu" class="toogle-close" style="background-color: #bdddff; ">
            <span></span>
          </label>
        </div>
        <ul >
          <li style="background-color: #bdddff;" ><a style="background-color: #bdddff;"  href="#Home">Home </a></li>
          <li style="background-color: #bdddff;" ><a style="background-color: #bdddff;" href="#About">About </a></li>
          <li style="background-color: #bdddff;" ><a style="background-color: #bdddff;" href="#exp">Work Experience </a></li>
          <li style="background-color: #bdddff;" ><a style="background-color: #bdddff;" href="/assets/SelfIntro/Resume.pdf" target="_blank">Resume/CV </a></li>
          <li style="background-color: #bdddff;" ><a style="background-color: #bdddff;" href="#Portfolio">Portfolio </a></li>
          <li style="background-color: #bdddff;" ><a style="background-color: #bdddff;" href="#Projects">Projects </a></li>
          <li style="background-color: #bdddff;" ><a style="background-color: #bdddff;" href="#Contact">Contact </a></li>
          <li style="background-color: #bdddff;" ><a style="background-color: #bdddff;" href="#Skills">Skills </a></li>
        </ul>
      </nav>
    </div>
<br>

    <app-self-intro id="Home"></app-self-intro>
    <app-about id="About"></app-about>
    <br /><br />
    <app-workexperience id="exp"></app-workexperience >
    <br>
    <app-portfolio id="Portfolio"></app-portfolio>
    <br />
    <app-project id="Projects"></app-project>
    <br/>
    <app-contact id="Contact"></app-contact>
<app-skills id="Skills"></app-skills>
  <br>
</div>
