<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p style="color: rgb(190, 190, 190)">What is my experience?</p>
      <h2>Work Experience</h2>
      <hr
        style="
          margin-left: 36%;
          justify-content: center;
          border: 2pt rgb(0, 238, 255) solid;
          width: 30%;
        "
      />
    </div>
  </div>

  <div class="container" style="z-index: 500;">
    <div class="row">
      <div class="fullWidth">
        <ul class="cbp_tmtimeline">
          <li>
            <div class="cbp_tmicon cbp_tmicon-phone">
              <i class="fa fa-briefcase faPra"></i>
            </div>
            <div class="cbp_tmlabel content">
              <h3>Front End Developer</h3>
              <div class="date">
                <i class="fa fa-calendar"></i>May 2024 - Current
              </div>
              <h4>
                <i class="fa fa-flag"></i>Shri Ramdeobaba College of Engineering
                and Management, Nagpur
              </h4>
              <ul class="projectParagraph">
                <li style="margin-bottom: 0; padding-bottom: 0">
                  Developed the official Shri Ramdeobaba University website
                  using HTML, CSS, JavaScript, and Bootstrap, ensuring a
                  visually appealing and functional user interface.
                </li>
                <li style="margin-bottom: 0; padding-bottom: 0">
                  Implemented responsive web design techniques to ensure the
                  website is accessible and user-friendly across various devices
                  and screen sizes.
                </li>
                <li style="margin-bottom: 0; padding-bottom: 0">
                  Managed and manipulated data using SQL query language,
                  ensuring seamless integration and efficient data handling
                  within the website.
                </li>
                <li style="margin-bottom: 0; padding-bottom: 0">
                  Worked collaboratively with university stakeholders to
                  continuously update and maintain the website, ensuring it
                  meets the evolving needs and standards.
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="cbp_tmicon cbp_tmicon-screen">
              <i class="fa fa-briefcase faPra"></i>
            </div>
            <div class="cbp_tmlabel content">
              <h3>Frontend Developer (Angular Developer) Intern</h3>
              <h4>
                <i class="fa fa-flag"></i>Ankhub Technology Services, Nagpur
              </h4>
              <div class="date">
                <i class="fa fa-calendar"></i>Mar 2022 - Aug 2022
              </div>
              <ul class="projectParagraph">
                <li style="margin-bottom: 0; padding-bottom: 0">
                  Prioritized and problem-solved several tasks concurrently with
                  minimum supervision.
                </li>
                <li style="margin-bottom: 0; padding-bottom: 0">
                  Followed best practices for software development.
                </li>
                <li style="margin-bottom: 0; padding-bottom: 0">
                  Technical stack used: Angular ,HTML ,CSS,Bootstrap for UI
                  ,Javascript, TypeScript for backend.
                </li>
                <li style="margin-bottom: 0; padding-bottom: 0">
                  Tools used: Visual Studio Code for code editing, Trello for
                  project management.
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
</div>
