<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p class="p">What projects have I worked on?</p>
      <h2>Projects</h2>
      <hr
        style="
          margin-left: 36%;
          justify-content: center;
          border: 2pt rgb(4, 152, 201) solid;
          width: 30%;
        "
      />
    </div>
  </div>
<div class="bg">
  <br>
  <br>
   <!-- <div class="container">
    <div class="row">
      <div class="col-lg">
        <br>
        <h6>
          Category:
          <span
            style="
              color: rgba(0, 113, 243, 0.856);
              text-shadow: 0.05rem 0.05rem rgb(63, 63, 63);
            "
            >Front End Development</span
          >
        </h6>
        <br />
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row" id="about-me-container">
      <div class="col-lg col-sm col-md">
        <div class="box marg">
          <div class="cardBox">
            <div class="card PGAV">
              <div class="content">
                <h6 style="font-family: 'Baloo Paaji', cursive">
                  PGAV<span style="color: darkorange; font-size: 0.7rem"
                    >DESTINATIONS</span
                  >
                </h6>
                <p style="text-align: justify">
                  During my internship at Ankhub Technologies Services, I had
                  the opportunity to work on an innovative project aimed at
                  developing a comprehensive rental services web application.
                  This platform integrates four distinct rental services into a
                  single seamless user experience: Accommodation Rent, Tiffin
                  Rent, Vehicle Rent, and Electrical Appliances Rent...
                  <a target="_blank" href="../pgav/pgav.component.html"
                    ><button
                      class="btn btn-outline-primary"
                      style="font-size: small"
                    >
                      See More...
                    </button></a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <h5 class="margh5">
          PGAV<span style="font-size: 0.9rem; color: darkorange"
            >DESTINATIONS</span
          ><br /><br />
        </h5>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card Cafe">
            <div class="content">
              <h6
                style="font-style: italic; font-family: 'Baloo Paaji', cursive"
              >
                Mocha
                <span style="color: rgb(252, 36, 36)">Mania</span>
                Cafe<br />
              </h6>
              <p style="text-align: justify">
                During my personal project, I developed a web application for an
                imaginary café called Cafe Mocha Mania. The aim was to create a
                dynamic and visually appealing platform where users could
                explore the menu, place orders, and learn more about the café.
                This project was built using Angular, HTML, CSS, Bootstrap,
                TypeScript, and JavaScript.
                <a target="_blank" href="/Mocha_Mania_Cafe"><button
                  class="btn btn-outline-primary"
                  style="font-size: small"
                >
                  See More...
                </button></a>
              </p>
            </div>
          </div>
        </div>
        <h5 class="margh5Mocha" style="font-style: italic">
          Mocha
          <span
            style="
              color: rgb(252, 36, 36);
              text-shadow: 0.07rem 0.07rem rgb(252, 36, 36);
            "
            >Mania</span
          >
          Cafe<br /><br />
        </h5>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card Health_PLUS">
            <div class="content">
              <h6
                style="font-style: italic; font-family: 'Baloo Paaji', cursive"
              >
                Health Plus<br />
              </h6>
              <p style="text-align: justify">
                During my personal project, I developed a web application for an
                imaginary café called Cafe Mocha Mania. The aim was to create a
                dynamic and visually appealing platform where users could
                explore the menu, place orders, and learn more about the café.
                This project was built using Angular, HTML, CSS, Bootstrap,
                TypeScript, and JavaScript.
                <a target="_blank" href="/Mocha_Mania_Cafe"><button
                  class="btn btn-outline-primary"
                  style="font-size: small"
                >
                  See More...
                </button></a>
              </p>
            </div>
          </div>
        </div>
        <h5  style="color: white; text-shadow: 0 0.2rem 0.3rem black;text-align: center; margin-top: 2%;">
          Health PLUS<br /><br />
        </h5>
      </div>
    </div>
  </div>
</div>
 
</div>
