<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p class="p">What projects have I worked on?</p>
      <h2>Projects</h2>
      <hr
        style="
          margin-left: 36%;
          justify-content: center;
          border: 2pt rgb(4, 152, 201) solid;
          width: 30%;
        "
      />
    </div>
  </div>
  <br />
  <br />
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg">
        <br>
        <h6>
          Category:
          <span
            style="
              color: rgba(0, 113, 243, 0.856);
              text-shadow: 0.05rem 0.05rem rgb(63, 63, 63);
            "
            >Front End Development</span
          >
        </h6>
        <br />
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row" id="about-me-container">
      <div class="col-lg col-sm col-md">
        <div class="box marg">
          <div class="cardBox">
            <div class="card PGAV">
              <div class="content">
                <h6 style="font-family: 'Baloo Paaji', cursive">
                  PGAV<span style="color: darkorange; font-size: 0.7rem"
                    >DESTINATIONS</span
                  >
                </h6>
                <p style="text-align: justify">
                  During my <strong> Internship </strong> at
                  <strong> Ankhub Technologies Services</strong>, I had the
                  opportunity to work on an innovative project aimed at
                  developing a comprehensive rental services web application.
                  This platform integrates four distinct rental services into a
                  single seamless user experience:
                  <strong> Accommodation Rent</strong>,<strong>
                    Tiffin Rent</strong
                  >,<strong> Vehicle Rent</strong>, and
                  <strong> Electrical Appliances Rent</strong>...
                  <a  target="_blank" href="/assets/SelfIntro/PGAV_Rental_Sytem.html"
                    ><button
                      class="btn btn-outline-primary"
                      style="font-size: small"
                    >
                      See More...
                    </button></a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <h5 class="margh5">
          PGAV<span style="font-size: 0.9rem; color: darkorange"
            >DESTINATIONS</span
          ><br /><br />
        </h5>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card Health_PLUS">
            <div class="content">
              <h6
                style="
                  font-style: italic;
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  font-weight: bold;
                "
              >
                <strong> Health PLUS</strong><br />
              </h6>
              <p style="text-align: justify">
                During my <strong> final year project</strong>, I developed an
                Android application called <strong> Health Plus</strong>. The
                goal was to create a user-friendly platform where users could
                book doctor appointments, order lab tests, and manage their
                profiles through login and registration activities. This project
                was built using Java in Android Studio, with Firebase as the
                database and Lottie animations for an enhanced user interface...
                <a target="_blank" href="/assets/SelfIntro/Health_Plus_Application.html"
                  ><button
                    class="btn btn-outline-primary"
                    style="font-size: small"
                  >
                    See More...
                  </button></a
                >
              </p>
            </div>
          </div>
        </div>
        <h5
          style="
            color: white;
            text-shadow: 0 0.2rem 0.3rem black;
            margin-left: 10%;
            margin-top: 2%;
          "
        >
          Health PLUS Application<br /><br />
        </h5>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card Cafe">
            <div class="content">
              <h6
                style="font-style: italic; font-family: 'Baloo Paaji', cursive"
              >
                Mocha
                <span style="color: rgb(252, 36, 36)">Mania</span>
                Cafe<br />
              </h6>
              <p style="text-align: justify">
                During my <strong>personal project</strong>, I developed a web
                application for an imaginary café called<strong>
                  Cafe Mocha Mania</strong
                >. The aim was to create a dynamic and visually appealing
                platform where users could explore the menu, place orders, and
                learn more about the café. This project was built using
                <strong>Angular</strong>,<strong> HTML</strong>,<strong>
                  CSS</strong
                >,<strong> Bootstrap</strong>, <strong>TypeScript</strong>,
                and<strong> JavaScript</strong>.
                <a target="_blank" href="/assets/SelfIntro/Cafe_Mocha_Mania.html"
                  ><button
                    class="btn btn-outline-primary"
                    style="font-size: small"
                  >
                    See More...
                  </button></a
                >
              </p>
            </div>
          </div>
        </div>
        <h5 class="margh5Mocha" style="font-style: italic">
          Mocha
          <span
            style="
              color: rgb(252, 36, 36);
              text-shadow: 0.07rem 0.07rem rgb(252, 36, 36);
            "
            >Mania</span
          >
          Cafe<br /><br />
        </h5>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="box marg">
          <div class="cardBox">
            <div class="card RestAPI">
              <div class="content">
                <h6 style="font-family: 'Baloo Paaji', cursive">
                  Employee Management RestFull API
                </h6>
                <p style="text-align: justify">
                  I developed an <strong>Employee Management System</strong> as
                  a <strong>personal full-stack project</strong>, focusing on
                  optimizing administrative tasks associated with employee data
                  management. This project exemplifies my proficiency in
                  integrating backend and frontend technologies to deliver a
                  cohesive and efficient software solution...
                  <a  target="_blank" href="/assets/SelfIntro/EmployeeManagement_RestFull_API.html"
                    ><button
                      class="btn btn-outline-primary"
                      style="font-size: small"
                    >
                      See More...
                    </button></a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <h5 style="color: whitesmoke">
          Employee Management RestFull API <br /><br />
        </h5>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="box marg">
          <div class="cardBox">
            <div class="card Sports">
              <div class="content">
                <h6 style="font-family: 'Baloo Paaji', cursive">
                  Sports Activities Recognition System
                </h6>
                <p style="text-align: justify">
                  I developed a
                  <strong>Sports Activity Recognition System</strong> as an
                  academic project during my MCA program. The objective of this
                  project was to train a model capable of predicting
                  <strong>sports activities </strong> from input
                  <strong>Sports Videos </strong> and <strong>Images</strong>.
                  This project employed advanced machine learning and deep
                  learning techniques to achieve high accuracy in
                  <strong>sports recognition</strong>...
                  <a  target="_blank" href="/assets/SelfIntro/Sports_Activity_Recognition_System.html"
                    ><button
                      class="btn btn-outline-primary"
                      style="font-size: small"
                    >
                      See More...
                    </button></a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <h5 style="color: whitesmoke">
          Sports Activities Recognition System <br /><br />
        </h5>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="box marg">
          <div class="cardBox">
            <div class="card Expense">
              <div class="content">
                <h6 style="font-family: 'Baloo Paaji', cursive">
                  Expense and Expenditure Application
                </h6>
                <p style="text-align: justify">
                  I developed an <strong>Expense and Expenditure Application</strong> as an
                 <strong>academic project</strong> during my MCA program. The primary goal of
                  this project was to create a user-friendly mobile application
                  for <strong>tracking expenses</strong>, helping users manage their finances
                  effectively.<br> The application was built using <strong>Android Studio</strong>
                  and <strong>Kotlin</strong>, ensuring a modern and efficient development
                  process. To enhance the user experience, I incorporated Lottie,....
                  <a  target="_blank" href="/assets/SelfIntro/Expense_Manager_Application.html"
                    ><button
                      class="btn btn-outline-primary"
                      style="font-size: small"
                    >
                      See More...
                    </button></a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <h5 style="color: whitesmoke">
          Expense and Expenditure Application<br /><br />
        </h5>
      </div>
    </div>
  </div>
</div>
